attr global userattr cmdIcon devStateIcon:textField-long devStateStyle icon sortby webCmd webCmdLabel:textField-long widgetOverride deosGatewayId
attr global deosGatewayId e7e517c6-98c4-406d-9820-23704fdb4198
attr global logfile ./log/fhem-%Y-%m.log
attr global modpath .
attr global verbose 0
attr global statefile ./log/fhem.save
attr global motd none

define WEB FHEMWEB 8083 global
attr WEB CssFiles pgm2/deosstyle.css
attr WEB JavaScripts codemirror/fhem_codemirror.js
attr WEB csrfToken none
attr WEB editConfig 1
attr WEB longpoll websocket
attr WEB menuEntries Restart,/fhem?cmd=shutdown%20restart,LD DEOSPush,/fhem?cmd=reload%2000_DEOSPush.pm,LD BACNetwork,/fhem?cmd=reload%2000_BACnetNetwork.pm,LD BACDevice,/fhem?cmd=reload%2000_BACnetDevice.pm,LD BACnetDp,/fhem?cmd=reload%2000_BACnetDatapoint.pm
attr WEB reverseLogs 1
attr WEB stylesheetPrefix default
attr WEB title OPENgate

# Fake FileLog entry, to access the fhem log from FHEMWEB 
define Logfile FileLog ./log/fhem-%Y-%m.log fakelog

define autocreate autocreate
attr autocreate filelog ./log/%NAME-%Y.log

define eventTypes eventTypes ./log/eventTypes.txt

# Disable this to avoid looking for new USB devices on startup
define initialUsbCheck notify global:INITIALIZED usb create 

define telnetPort telnet 7072 global

# Command aliases
define c_dellog cmdalias dellog AS {qx(truncate $currlogfile --size 0);;Log 1, "Logfile gelöscht";;}

# Reload MyUtils after FHEM Initialisation
define nt.global notify global:INITIALIZED reload 99_myUtils.pm
attr nt.global room System


### System Files ###
### Could be updatet threw Firmware Updates! ###

# DEOS AlarmPush Service
include ./FHEM/deos_00_push.cfg

# MQTT Configurations
include ./FHEM/deos_00_mqtt.cfg

# BACNET Configurations
include ./FHEM/deos_00_bacnet.cfg


### FHEM Runtime Settings ###
